version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: 'sunday'
      time: '02:00'
      timezone: Europe/Berlin
    ignore:
      - dependency-name: devtools-protocol
      - dependency-name: '@types/node'
      - dependency-name: '@angular-devkit/*'
    groups:
      dependencies:
        dependency-type: production
        patterns:
          - '*'
      dev-dependencies:
        dependency-type: development
        patterns:
          - '*'
  - package-ecosystem: npm
    directory: /website
    schedule:
      interval: weekly
      day: 'sunday'
      time: '03:00'
      timezone: Europe/Berlin
    groups:
      all:
        patterns:
          - '*'
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: 'sunday'
      time: '04:00'
      timezone: Europe/Berlin
    groups:
      all:
        patterns:
          - '*'
  - package-ecosystem: docker
    directory: /docker
    schedule:
      interval: weekly
      day: 'sunday'
      time: '05:00'
      timezone: Europe/Berlin
    ignore:
      - dependency-name: node
        versions:
          # Remove once NodeJS v24 is LTS
          - '24'
          - '23'
    groups:
      all:
        patterns:
          - '*'
