version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: '06:00'
      timezone: Europe/Berlin
    ignore:
      - dependency-name: devtools-protocol
      - dependency-name: '@types/node'
    groups:
      dependencies:
        dependency-type: production
        patterns:
          - '*'
      dev-dependencies:
        dependency-type: development
        patterns:
          - '*'
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '06:00'
      timezone: Europe/Berlin
    groups:
      all:
        patterns:
          - '*'
