test/assets/modernizr.js
third_party/*
utils/browser/puppeteer-web.js
utils/doclint/check_public_api/test/
utils/testrunner/examples/
experimental/
lib/
*.d.ts
test/types/test.ts
scripts/
src/protocol.ts
