.DS_Store
.vscode
/.dev_profile*
/.local-chromium/
/.local-firefox/
/test/test-user-data-dir*
build/
coverage
coverage/
doclint/
docs-api-json/
docs/api.html
lib/
node_modules/
package-lock.json
puppeteer*.tgz
test-ts-types/**/dist/
test-ts-types/**/node_modules
tsconfig.tsbuildinfo
yarn.lock