/node_modules/
/test/output-chromium
/test/output-firefox
/test/test-user-data-dir*
/.local-chromium/
/.local-firefox/
/.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
package-lock.json
yarn.lock
/node6
/utils/browser/puppeteer-web.js
/index.d.ts
/lib
