access=public
install-strategy=nested
min-release-age=7 # requires npm 11.10.0+
min-release-age-exclude[]=chromium-bidi
min-release-age-exclude[]=devtools-protocol
min-release-age-exclude[]=webdriver-bidi-protocol
# Keep disabled and registry here till https://github.com/npm/cli/issues/9715
# is fixed
omit-lockfile-registry-resolved=false
registry=https://registry.npmjs.org/
