# exclude all tests
test
utils/node6-transform

# repeats from .gitignore
node_modules
.local-chromium
.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
package-lock.json
/node6/test
/node6/utils
/test
/utils
/docs
yarn.lock
