.local-chromium/
.local-firefox/
assets/
build/
CHANGELOG.md
coverage/
lib/
node_modules/
package-lock.json
package.json
test/assets/
tsconfig.tsbuildinfo
vendor/
yarn.lock
puppeteer.api.json
website/
docs/