.local-chromium/
.local-firefox/
assets/
build/
CHANGELOG.md
coverage/
doclint/
docs-api-json/
lib/
node_modules/
package-lock.json
package.json
test-ts-types/
test/assets/
tsconfig.tsbuildinfo
vendor/
yarn.lock