# exclude all tests
test
utils/node6-transform

# exclude internal type definition files
/lib/*.d.ts
/node6/lib/*.d.ts

# repeats from .gitignore
node_modules
.local-chromium
.local-browser
.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
package-lock.json
/node6/test
/node6/utils
/test
/utils
/docs
yarn.lock

# other
/.ci
/examples
.appveyour.yml
.cirrus.yml
.editorconfig
.eslintignore
.eslintrc.js
README.md
tsconfig.json

