name: Puppeteer Canary CI

# Declare default permissions as read only.
permissions: read-all

on:
  schedule:
    # Run everyday at: https://crontab.guru/#0_8_*_*_1-5.
    - cron: '0 8 * * 1-5'
  workflow_dispatch:

jobs:
  canary-chrome-tests:
    name: ${{ matrix.suite }} tests on ${{ matrix.os }} (${{ matrix.shard }}) ${{ matrix.configs }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        suite:
          - chrome-headless
          - chrome-headful
          - chrome-headless-shell
          - chrome-bidi
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        shard:
          - 1-2
          - 2-2
        configs:
          - experimental
          - stable
        exclude:
          - os: windows-latest
            suite: chrome-bidi
          - os: macos-latest
            suite: chrome-headful
    steps:
      - name: Check out repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Set up Node.js
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
        with:
          cache: npm
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
        env:
          PUPPETEER_SKIP_DOWNLOAD: true
      # Set up GitHub Actions caching for Wireit.
      - uses: google/wireit@4aad131006ea85c1e42af927534ebb13426dd730 # setup-github-actions-caching/v1.0.2
      - name: Build packages
        run: npm run build
      - name: Install Chrome Canary
        id: browser
        run: npm ci
        env:
          PUPPETEER_BROWSER_REVISION: canary
      - name: Apply Canary expectations
        run: node tools/merge-canary-test-expectations.mjs
      - name: Run all tests (for non-Linux)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: npm run test -- --shard '${{ matrix.shard }}' --test-suite ${{ matrix.suite }} --save-stats-to /tmp/artifacts/${{ github.event_name }}_INSERTID.json
        env:
          PUPPETEER_BROWSER_REVISION: canary
          PUPPETEER_TEST_EXPERIMENTAL_CHROME_FEATURES: ${{ matrix.configs == 'experimental' }}
      - name: Run all tests (for Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: xvfb-run --auto-servernum npm run test -- --shard '${{ matrix.shard }}' --test-suite ${{ matrix.suite }} --save-stats-to /tmp/artifacts/${{ github.event_name }}_INSERTID.json
        env:
          PUPPETEER_BROWSER_REVISION: canary
          PUPPETEER_TEST_EXPERIMENTAL_CHROME_FEATURES: ${{ matrix.configs == 'experimental' }}
      - uses: actions/upload-artifact@89ef406dd8d7e03cfd12d9e0a4a378f454709029 # v4.3.5
        if: always()
        with:
          name: test-results-${{ matrix.os }}-${{ matrix.suite }}-${{ matrix.shard }}-${{ matrix.configs }}
          path: /tmp/artifacts/*.json

  report-results:
    name: 'Report results'
    needs: [canary-chrome-tests]
    runs-on: ubuntu-latest
    permissions:
      issues: write
    if: ${{ always() }}
    steps:
      - name: Post comment
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        if: ${{ needs.canary-chrome-tests.result != 'success'}}
        with:
          # https://github.com/puppeteer/puppeteer/issues/12379
          issue-number: 12379
          body: |
            ❌ Tests with Chrome Canary failed

            ---
            [Link](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
      - name: Post comment
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        if: ${{ needs.canary-chrome-tests.result == 'success'}}
        with:
          # https://github.com/puppeteer/puppeteer/issues/12379
          issue-number: 12379
          body: |
            ✅ Tests with Chrome Canary succeeded

            ---
            [Link](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
