name: Check which packages changed

permissions: read-all

on:
  workflow_call:
    inputs:
      check-mergeable-state:
        default: false
        type: boolean
    outputs:
      changes:
        description: 'The packages that were changed for this PR'
        value: ${{ jobs.check-changes.outputs.changes }}
jobs:
  check-changes:
    name: Check which packages changed
    runs-on: ubuntu-latest
    outputs:
      changes: ${{ steps.changes.outputs.changes }}
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2
      - name: Check if branch is out of date
        if: ${{ inputs.check-mergeable-state &&  github.base_ref == 'main' }}
        run: |
          git fetch origin main --depth 1 &&
          git merge-base --is-ancestor origin/main @;
      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: npm
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm ci
        env:
          PUPPETEER_SKIP_DOWNLOAD: true
      # Set up GitHub Actions caching for Wireit.
      - uses: google/wireit@f21db1f3a6a4db31f42787a958cf2a18308effed # setup-github-actions-caching/v2.0.3
      - name: Build packages
        run: npm run build
      - name: Detect changed packages
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            puppeteer:
              - '.github/workflows/ci.yml'
              - 'packages/browsers/src/browser-data/firefox.ts'
              - 'packages/puppeteer/**'
              - 'packages/puppeteer-core/**'
              - 'packages/testserver/**'
              - 'examples/puppeteer-in-extension/**'
              - 'examples/puppeteer-in-browser/**'
              - 'docker/**'
              - 'test/**'
              - 'test-d/**'
              - 'tools/mocha-runner/**'
              - '.mocharc.cjs'
              - 'tools/doctest/**'
              - 'tsconfig.base.json'
            website:
              - '.github/workflows/ci.yml'
              - 'docs/**'
              - 'website/**'
              - 'README.md'
              - 'tsconfig.base.json'
            ng-schematics:
              - '.github/workflows/ci.yml'
              - 'packages/ng-schematics/**'
              - 'tsconfig.base.json'
            browsers:
              - '.github/workflows/ci.yml'
              - 'packages/browsers/**'
              - 'tsconfig.base.json'
