name: Pre-release

on:
  push:
    branches:
      - release-please-*

jobs:
  pre-release:
    if: "startsWith(github.event.head_commit.message, 'chore(main): release')"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Install dependencies
        run: npm install
      - name: Build
        run: |
          node utils/generate_version_file.js
          npm run docs
      - name: Version docs
        working-directory: ./website
        run: |
          npm install
          npm run docusaurus docs:version $(jq -r .version ../package.json)
      - name: Commit
        run: |
          git config --global user.name 'release-please[bot]'
          git config --global user.email '55107282+release-please[bot]@users.noreply.github.com'
          git add .
          git commit -m 'chore: generated versioned docs'
          git push --no-verify
