name: release-please

# Declare default permissions as read only.
permissions: read-all
on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.BROWSER_AUTOMATION_BOT_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
